<% cache(content) do %>
<div class="content_editor essence_html_editor"<%= value_from_settings_or_options(content, options, :css_class) == "text_short" ? ' style="float: left;"' : '' %> data-content-id="<%= content.id %>">
  <%= label_and_remove_link(content) %>
  <%= text_area_tag(
    content.form_field_name,
    content.ingredient
  ) %>
</div>
<% end %>